{% extends 'layouts/principalLayout.html' %}
{% load static %}
{% block titulo %}Tablero de profesor{% endblock %}

{% block content %}

	<ul class="nav bg-primary">
		<li class="nav-item py-2">
			<a class="nav-link text-white" href="/profesor">Mis cursos</a>
		</li>
		<!-- --------------------------------------------------------------- -->
		<li class="nav-item py-2 ml-auto bg-danger">
			<a class="nav-link text-white" href="/logout" data-toggle="modal" data-target="#sesionModal">Cerrar sesion</a>
		</li>
	</ul>
	<br>
	<section class="container bg-white py-3 px-4 rounded">
		<div>
			<button class="btn btn-success" @click="abrirModalCurso">Añadir curso</button>
		</div>
	    <br>
	    <div class="row" v-if="cursos.length > 0">
	    	<div class="col-sm-4" v-for="curso in cursos">
	    		<div class="card">
		            <div class="card-body">
		                <h5 class="card-title mb-0">${ curso.nombre }</h5>
		                <small class="card-subtitle text-muted"># estudiantes registrados</small>
		                <br><br>
		                <p class="card-text">${ curso.descripcion }</p>
		                <a :href="'curso/'+curso.id" class="card-link"><small>Ver detalles</small></a>
		            </div>
		        </div>
	    	</div>
	    </div>
	    <p class="font-italic text-muted" v-else>No posee cursos en el momento, clic en el botón para añadir uno.</p>
	</section>

	<!-- MODAL CURSO -->
	<div class="modal fade" id="cursoModal" tabindex="-1" role="dialog" aria-labelledby="cursoModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="cursoModalLabel">Añadir curso</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <form @submit.prevent="agregarCurso">
	            	<div class="modal-body">
	            		<div class="form-group">
		                	<label>Nombre del curso</label>
		                	<input type="text" class="form-control" placeholder="Nombre" v-model="curso.nombre" @change="errors.curso.nombre = undefined">
		                	<small class="text-danger" v-if="errors.curso.nombre">${ errors.curso.nombre[0].message }</small>
		                </div>
		                <div class="form-group">
		                	<label>Fecha de finalización del curso</label>
		                	<input type="date" class="form-control" v-model="curso.fecha_final" @change="errors.curso.fecha_final = undefined">
		                	<small class="text-danger" v-if="errors.curso.fecha_final">${ errors.curso.fecha_final[0].message }</small>
		                </div>
		                <div class="form-group">
		                	<label>Descripcion del curso</label>
		                	<textarea class="form-control" placeholder="Descripcion" v-model="curso.descripcion" @change="errors.curso.descripcion = undefined"></textarea>
		                	<small class="text-danger" v-if="errors.curso.descripcion">${ errors.curso.descripcion[0].message }</small>
		                </div> 
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
		                <button type="submit" class="btn btn-success">Añadir</button>
		            </div>
	            </form>
	        </div>
	    </div>
	</div>

{% endblock %}

{% block scripts %}

	<script src="{% static 'js/profesor.js' %}"></script>

{% endblock %}